body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}

* {
  border: 1px solid black;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  min-height: 10vh;

}


.b {
  min-height: 60vh;
  flex-grow: 4;
}


.c {
  min-height: 10vh;

}

.a, .c {
  background-color: darksalmon;
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .b {
    max-width: 80%;
  }
  .a {
    width: 100%;
  }
  .c {
    min-width: 20%;
  }
}